@media (min-width: 992px) {
  .app-header {
    height: 50px;
  }

  [data-kt-app-header-fixed="true"] .app-wrapper {
    margin-top: 50px;
  }
}

@media (max-width: 991.98px) {
  .app-header {
    border-bottom: 1px solid #e5e5e5 !important;
  }
}

.card .card-header {
  min-height: 60px;
  border-bottom: 1px solid #efefef;
}

.card .card-header .card-title {
  color: darkblue;
}

.card .card-body {
  padding: 1.5rem 2.25rem;
}

.card .card-body table {
  margin-bottom: 0;
}

.card .card-body.card-buttons > div {
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.card .card-body.card-buttons > div::-webkit-scrollbar {
  background: transparent;
  width: 0px;
  height: 0px;
}

table.table-index {
  margin-bottom: 0;
}

table.table-index tr th,
table.table-index tr td {
  white-space: nowrap;
}

table.table-index thead tr th,
table.table-index thead tr th a {
  font-weight: bold !important;
  color: #bbb !important;
}

table.table-index thead tr th a:hover {
  color: #555 !important;
}

table.table-index tbody tr td:last-child {
  text-align: right;
}

table.table-index tbody tr td[colspan]:last-child {
  text-align: left;
}

table.table-index tbody tr td:last-child a {
  margin-right: 10px;
}

table.table-index tbody tr td:last-child a:last-child {
  margin-right: 0;
}

table.table-index tbody tr td:last-child a:hover i {
  color: red;
}

table.table-detail tbody tr th,
table.table-detail tbody tr td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

table.table-detail tbody tr > th:first-child {
  color: #aaa;
  font-style: italic;
}
